profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        process.container = 'debian:bullseye-slim'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.container = 'debian:bullseye-slim'
        process.queue = 'skeleton-char_count-queue'

        aws.region = 'us-east-1'
    }
}

