profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        process.container = 'tcolligan4/hmmer_ncbi_codeathon'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.container = 'tcolligan4/hmmer_ncbi_codeathon'
        process.queue = 'skeleton-hmmer-queue'

        aws.region = 'us-east-1'
    }
}

